.idea/
.env
infra/docker/.env.dev
infra/docker/.env.prod
infra/docker/nginx/certs/*/tls/*.crt
infra/docker/nginx/certs/*/tls/*.key
infra/docker/nginx/certs/*/mtls/*.crt
infra/docker/nginx/certs/*/mtls/*.key
infra/docker/nginx/certs/*/mtls/*.csr
infra/docker/nginx/certs/*/mtls/*.srl
.DS_Store