SERVER_PORT=8080
APP_VERSION=0.0.1-SNAPSHOT
APP_TIME_ZONE=UTC

SPRING_PROFILES_ACTIVE=local

DB_NAME=chinvat
DB_HOST=localhost
DB_PORT=5432
DB_URL=jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
DB_USERNAME=postgres
DB_PASSWORD=postgres

JPA_SHOW_SQL=true
JPA_DDL_AUTO=update

H2_CONSOLE_ENABLED=false

