POSTGRES_DB=chinvat
POSTGRES_USER=chinvat
POSTGRES_PASSWORD=chinvat
POSTGRES_EXPOSED_PORT=5432
APP_VERSION=0.0.1-SNAPSHOT
APP_TIME_ZONE=UTC
APP_DEBUG_PORT=5005
NGINX_HTTP_PORT=8080
NGINX_HTTPS_PORT=8443
FNMT_PROXY_SHARED_SECRET=dev-fnmt-proxy-secret

