POSTGRES_DB=chinvat
POSTGRES_USER=chinvat
POSTGRES_PASSWORD=change-me
APP_VERSION=0.0.1-SNAPSHOT
APP_TIME_ZONE=UTC
NGINX_HTTP_PORT=80
NGINX_HTTPS_PORT=443
FNMT_PROXY_SHARED_SECRET=change-me-fnmt-secret

